<% content_for :map do %>
  <div id="googleMap"></div>
<% end %>


  <div id="form_interface" class="col-md-3 col-md-offset-9">
    <%= render "partials/new_trip",  trip: @trip %>
    <br>
    <br>
    <%= render "partials/new_marker",  marker: @marker %>
  </div>
</div>