<div class="map_wrapper">
  <div class="map_border">
    <div id="googleMap"> </div>
  </div>
</div>

<%= render "partials/new_trip",  trip: @trip %>
<%= render "partials/new_marker",  marker: @marker %>