<% @body_class = "edit_marker" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="sign_up_form">
      <h2>Edit your stop details</h2>

        <%= render 'form' %>

      <%= link_to 'Show', @marker %>
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>