// Place all the styles related to the markers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#googleMap{
  width:100%;
  height:30em;
}

.map_wrapper{
  display: inline-block;
  width: 100%;
}