@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* VARIABLES */
$maroon: #7a2949;
$orange: #b13c11;
$blue: #335d69;
$green: #67a193;
$grey: #82756f;


/* Body styling */

html, body {
  height: 100%;
  min-height: 100%;
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* NAVBAR styling */

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
  color: $green;
}

/* HOME PAGE SEARCH styling */

div.item img{
  margin: 0 auto;
}

#search_form{
  margin-top: 1em;
  margin-bottom: 3em;
}

#submit_form_button {
  width: 23em;
  margin: 0 auto;
}

h2#search_title{
  text-align: center;
}

#search_results_all a{
  color: $green;
}

#result_line{
  display: inline-block;
}

/* MAP styling*/

#googleMap {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.map_wrapper{
  display: inline-block;
  width: 100%;
}


/* Interface styling */

#form_interface {
  padding-left: 10px;
  padding-right: 0;
  background-color: black;
  color: grey;
  z-index: 1;
  position: absolute;
  right: 0;
  min-width: 230px;
  width: 25%;
  height: 100%;
}

#trip_details{
  padding-left: 10px;
  padding-right: 0;
  background-color: black;
  color: grey;
  z-index: 1;
  position: absolute;
  right: 0;
  min-width: 230px;
  width: 25%;
  height: 100%;
}

.map_user_profile {
  width:250px;
  height: 250px;
  // position: absolute;
  // float:left;
  // z-index: 0;
}