@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css);

/* VARIABLES */
$maroon: #7a2949;
$orange: #b13c11;
$blue: #335d69;
$green: #67a193;
$grey: #82756f;

/* BODY styling */

html, body {
  // height: 100%;
  min-height: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: black;
}

html.sign_in {
    height: 100%;
}

html.edit_trip {
    height: 100%;
}

html.edit_marker {
    height: 100%;
}

body.user_page {
  background: transparent;
}

body.homepage {
  background: transparent;
}

html.user_page{
   /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, black, #7a2949);
  background-image: -ms-linear-gradient(top, black, #7a2949);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(#7a2949));
  background-image: -webkit-linear-gradient(top, black, #7a2949);
  background-image: -o-linear-gradient(top, black, #7a2949);
  background-image: linear-gradient(top, black, #7a2949);
  background-color: #7a2949;
  background-repeat: no-repeat;
}

html.homepage {
  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, black, #7a2949);
  background-image: -ms-linear-gradient(top, black, #7a2949);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(#7a2949));
  background-image: -webkit-linear-gradient(top, black, #7a2949);
  background-image: -o-linear-gradient(top, black, #7a2949);
  background-image: linear-gradient(top, black, #7a2949);
  background-color: #7a2949;
  background-repeat: no-repeat;
}

#carousel-example-generic {
  box-shadow: 0px 0px 50px 5px black;
  margin-top: 3em;
  margin-bottom: 1em;
}

body.sign_up {
  background: url('balitemple.jpg')
   no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
}

body.sign_in {
  background: url('taj_mahal.jpg')
   no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body.edit_profile {
  background: url('taj_mahal.jpg')
   no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
}

body.edit_trip {
  background: url('taj_mahal.jpg')
   no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
}

body.edit_marker {
  background: url('taj_mahal.jpg')
   no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
}

.input_field {
  border-radius: 5px;
  border: 0;
}

.links {
  list-style: none;
  text-align: center;
}

.centered {
  margin: auto;
  padding-left: 50px;
}

/* NAVBAR styling */

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
  box-shadow: 0px -1px 10px 3px black;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
  color: $green;
}

.form-control.input-sm{
  height: 1.9em;
}

/* HOME PAGE SEARCH styling */

div.item img{
  margin: 0 auto;
}

#search_form{
  margin-top: 1em;
  margin-bottom: 3em;
}

#submit_form_button {
  width: 23em;
  margin: 0 auto;
}

h2#search_title{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

#search_results_all{
  width: 40em;
margin: 0 auto;
}

#search_results_all a{
  color: $green;
  font-size: 1.125em;
  vertical-align: middle;
  }

#result_line{
  margin-bottom: 1em;
}

#result_line a{
  text-transform: capitalize;
}

#result_line img{
  margin-right: 0.6em;
}

#trip_description{
  font-size: 1.125em;
  vertical-align: middle;
  margin-left: 0.25em;
}

/* MAP styling*/

#googleMap,
#googleMap_marker {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.map_wrapper{
  display: inline-block;
  width: 100%;
}

/* INFOWINDOW styling */

 h2#infowindow{
  color: black;
  margin-top: 0;
  margin-bottom: 0.15em;
  font-size: 1.75em;
 }

 p#infowindow_description{
    color: black;
    margin-bottom: 0.1em;
 }

div#infowindow_link{
  text-align: right;
}

/* INTERFACE styling */

#form_interface {
  padding-left: 10px;
  padding-right: 0;
  background-color: black;
  color: grey;
  z-index: 1;
  position: absolute;
  right: 0;
  min-width: 230px;
  width: 25%;
  height: 100%;
  box-shadow: -1px 0px 10px 3px black;
  font-weight: normal;
  font-style: none;
}

#trip_details{
  margin-top: -30px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 0;
  background-color: black;
  color: grey;
  z-index: 1;
  position: absolute;
  right: 0;
  min-width: 230px;
  width: 25%;
  height: 100%;
  box-shadow: -1px 0px 10px 3px black;
}

#trip_show_links{
  list-style: none;
  text-align: center;
}

.tweet{
  text-align:center;
}

// #trip_show{
//   padding-left: 10px;
//   padding-right: 0;
//   background-color: black;
//   color: grey;
//   z-index: 1;
//   position: absolute;
//   right: 0;
//   min-width: 230px;
//   width: 25%;
//   height: 100%;
//   box-shadow: -1px 0px 10px 3px black;
//   font-weight: normal;
//   font-style: none;
// }

#add_marker_info{
  margin-top: -30px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 0;
  background-color: black;
  color: grey;
  z-index: 0;
  position: absolute;
  right: 0;
  min-width: 230px;
  width: 25%;
  height: 100%;
  box-shadow: -1px 0px 10px 3px black;
  font-weight: normal;
  font-style: none;
}



/* SIGN UP/SIGN IN Styling */

.sign_in_form {
  background-color: rgba(140,36,82,0.8);
  border-radius: 25em;
  padding: 3.5em;
  margin: 6.5em 3.5em 3.5em 3.5em;
  text-align: center;
}

.sign_up_form {
  background-color:  rgba(140,36,82,0.8);
  border-radius: 25em;
  padding: 3.5em;
  margin: 3.5em 3.5em 3.5em 3.5em;
  text-align: center;
}