/* VARIABLES */
$maroon: #7a2949;
$orange: #b13c11;
$blue: #335d69;
$green: #67a193;
$grey: #82756f;


/* User Profile styling */

#user_profile_left{
  width: 30%;
  float:  left;
  min-width: 240px;
}

#user_profile{
  background: $blue;
  height: 35em;
}

#user_profile_pic {
  text-align: center;
  padding: 1.35em 1.35em 0em 1.35em;
}

#user_profile p{
  margin-left: 1.35em;
}

#user_profile h2{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
  margin-top: 0.3em;
}

#user_info{
  margin-bottom: 0;
}

#user_controls{
  text-align: center;
}
#user_trips{
  width: 70%;
  float:  right;
  padding-left: 1.25em;
}

#trip_map_small {
  list-style: none;
  padding: 0;
}
#trip_map_small li{
  float: left;
  height: 300px;
  width: 250px;
  margin-right: 1em;
}

#trip_map_small h3{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: $maroon;
  text-align: center;
  padding: 0.35em;
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
}


#trip_map_small a{
  color: white;
}
#trip_map_small a:hover{
  color: $green;
}